 <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'learning_logs:index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'learning_logs:topics' %}">Topics</a>
          </li>
        </ul>
          <span class="navbar-text">
            {% if user.is_authenticated %}
              Hello, {{ user.username }},
              <form action="{% url 'users:logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit">Logout</button>
              </form>
            {% else %}
              <a href="{% url 'users:login' %}">Log In</a>
              <a href="{% url 'users:register' %}">Register</a>
            {% endif %}

          </span>
      </div>
    </nav>